*{
    color: whitesmoke;
    padding: 10px;
    font-family: monospace;
}

body{
    background: linear-gradient(red,grey);
}

.dashboard{
    backdrop-filter: blur(0px);
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}